{template 'web/common/header-base'}
<form action="" method="post" class="form-horizontal form" id="form">
    <div class="wrapper wrapper-content animated ">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <ul class="nav nav-tabs">
                            <li {if $op == 'list'}class="active"{/if}><a href="{php echo $this->createWebUrl('updatedata', array('op' => 'list'))}" title="数据维护" >数据维护</a></li>
                            <li {if $op == 'reset'}class="active"{/if}><a href="{php echo $this->createWebUrl('updatedata', array('op'=>'reset'))}" title="菜单重置" >菜单重置</a></li>
                            <li {if $op == 'sql'}class="active"{/if}><a href="{php echo $this->createWebUrl('updatedata',array('op' => 'sql'))}" title="修复字段、数据" >修复字段、数据</a></li>
                            <li {if $op == 'menu'}class="active"{/if}><a href="{php echo $this->createWebUrl('updatedata',array('op' => 'menu'))}" title="后台菜单修复" >后台菜单修复</a></li>
                        </ul>
                        {if $op == 'list'}
                        <div class="ibox-content">
                            <p style="color: blue">一键清空区域：会清空当前公众号下的区域管理数据。</p>
                            <p style="color: blue">一键清空楼宇单元：会清空当前公众号下的楼宇和单元管理数据。</p>
                            <p style="color: blue">一键清空房屋：会清空当前公众号下的房屋管理数据。</p>
                            <p style="color: blue">优化房屋数据：清空公众号下的区域、楼宇、单元管理数据后用房屋信息重新生成区域、楼宇、单元。</p>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    {if ($user && $menu_opss && @in_array('updatedata_area', $menu_opss)) || empty($user)}
                                    <input name="update_area" type="submit" value="一键清空区域" class="btn btn-primary" onClick="return confirm('确定清空所有的区域信息吗?');"/>
                                    {/if}
                                    {if ($user && $menu_opss && @in_array('updatedata_build', $menu_opss)) || empty($user)}
                                    <input name="update_build" type="submit" value="一键清空楼宇单元" class="btn btn-primary" onClick="return confirm('确定清空所有的楼宇单元信息吗?');"/>
                                    {/if}
                                    {if ($user && $menu_opss && @in_array('updatedata_room', $menu_opss)) || empty($user)}
                                    <input name="update_room" type="submit" value="一键清空房屋" class="btn btn-warning" onClick="return confirm('执行此操作前，请先备份数据，确定清空所有的房屋信息吗?');"/>
                                    {/if}
                                    {if ($user && $menu_opss && @in_array('updatedata_house', $menu_opss)) || empty($user)}
                                    <input name="update_house" type="submit" value="优化房屋数据" class="btn btn-primary" onClick="return confirm('执行此操作前，请先备份数据，确定优化房屋数据吗?');"/>
                                    {/if}
                                    <input type="hidden" name="token" value="{$_W['token']}" />
                                </div>
                            </div>
                        </div>
                        {elseif $op == 'reset'}
                        <div class="ibox-content">
                            <p style="color: #00a2d4">微信端菜单重置，清空已设置的微信端菜单，还原到初始状态，此操作要谨慎执行。（可进行生成微信端菜单）</p>
                            <p style="color: #00a2d4">住户中心菜单重置，清空已设置的住户中心菜单，还原到初始状态，此操作要谨慎执行。（可进行生成住户中心菜单）</p>
                            <p style="color: #00a2d4">手机端管理菜单重置，清空已设置的手机端管理菜单，还原到初始状态，此操作要谨慎执行。（可进行生成手机端管理菜单）</p>
                            <p style="color: #00a2d4">角色操作菜单重置，清空角色操作权限的菜单，不影响已设置的角色操作权限，此操作要谨慎执行。（可进行生成角色操作菜单）</p>
                            <div class="hr-line-dashed"></div>
                            <!--微信端菜单-->
                            {if empty($user) || ($user && $menu_opss && @in_array('updatedata_nav', $menu_opss)) || ($user && $menu_opss && @in_array('updatedata_navMake', $menu_opss))}
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    {if ($user && $menu_opss && @in_array('updatedata_nav', $menu_opss)) || empty($user)}
                                    <input name="update_nav" type="submit" value="微信端菜单重置" class="btn btn-primary" onClick="return confirm('确定重置前台菜单后，需要进入每个公众号页面，页面管理点击首页导航，重新生成菜单吗?');"/>&nbsp;
                                    {/if}
                                    {if ($user && $menu_opss && @in_array('updatedata_navMake', $menu_opss)) || empty($user)}
                                    <input name="update_nav_make" type="submit" value="生成微信端菜单" class="btn btn-primary" onClick="return confirm('确定生成前台菜单吗?');"/>
                                    {/if}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                            <!--住户中心菜单-->
                            {if empty($user) || ($user && $menu_opss && @in_array('updatedata_houseNav', $menu_opss)) || ($user && $menu_opss && @in_array('updatedata_houseNavMake', $menu_opss))}
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    {if ($user && $menu_opss && @in_array('updatedata_houseNav', $menu_opss)) || empty($user)}
                                    <input name="update_housenav" type="submit" value="住户中心菜单重置" class="btn btn-primary" onClick="return confirm('确定重置住户中心菜单后，需要进入每个公众号页面，页面管理点击住户中心重新生成住户菜单吗?');"/>&nbsp;
                                    {/if}
                                    {if ($user && $menu_opss && @in_array('updatedata_houseNavMake', $menu_opss)) || empty($user)}
                                    <input name="update_housenav_make" type="submit" value="生成住户中心菜单" class="btn btn-primary" onClick="return confirm('确定生成住户中心菜单吗?');"/>
                                    {/if}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                            <!--手机管理端菜单-->
                            {if empty($user) || ($user && $menu_opss && @in_array('updatedata_xqappmenu', $menu_opss)) || ($user && $menu_opss && @in_array('updatedata_appmenu', $menu_opss))}
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    {if ($user && $menu_opss && @in_array('updatedata_xqappmenu', $menu_opss)) || empty($user)}
                                    <input name="update_xqappmenu" type="submit" value="手机端管理菜单重置" class="btn btn-primary" onClick="return confirm('确定重置移动端管理菜单后，需要进入每个公众号页面数据维护，点击数据维护中的生成手机端管理菜单，重新生成菜单吗?');"/>&nbsp;&nbsp;
                                    {/if}
                                    {if ($user && $menu_opss && @in_array('updatedata_appmenu', $menu_opss)) || empty($user)}
                                    <input name="update_appmenu" type="submit" value="生成手机端管理系统菜单" class="btn btn-primary" onClick="return confirm('确定重新生成手机端管理系统菜单吗?');"/>&nbsp;
                                    {/if}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                            <!--底部菜单-->
                            {if empty($user) || ($user && $menu_opss && @in_array('updatedata_xqfootermenu', $menu_opss)) || ($user && $menu_opss && @in_array('updatedata_footermenu', $menu_opss))}
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    {if ($user && $menu_opss && @in_array('updatedata_xqfootermenu', $menu_opss)) || empty($user)}
                                    <input name="update_xqfootermenu" type="submit" value="底部菜单重置" class="btn btn-primary" onClick="return confirm('确定重置底部菜单重置后，需要进入每个公众号页面数据维护，点击数据维护中的生成底部菜单，重新生成菜单吗?');"/>&nbsp;&nbsp;
                                    {/if}
                                    {if ($user && $menu_opss && @in_array('updatedata_footermenu', $menu_opss)) || empty($user)}
                                    <input name="update_footermenu" type="submit" value="生成底部菜单" class="btn btn-primary" onClick="return confirm('确定重新生成底部菜单吗?');"/>&nbsp;
                                    {/if}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                            <!--角色操作权限-->
                            {if empty($user) || ($user && $menu_opss && @in_array('updatedata_role', $menu_opss)) || ($user && $menu_opss && @in_array('updatedata_roleMake', $menu_opss))}
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    {if ($user && $menu_opss && @in_array('updatedata_role', $menu_opss)) || empty($user)}
                                    <input name="update_role" type="submit" value="角色操作菜单重置" class="btn btn-primary" onClick="return confirm('确定重置角色操作菜单后，需要进入微小区页面数据维护，点击数据维护中的生成角色操作菜单，重新生成菜单吗?');"/>&nbsp;&nbsp;
                                    {/if}
                                    {if ($user && $menu_opss && @in_array('updatedata_roleMake', $menu_opss)) || empty($user)}
                                    <input name="update_role_make" type="submit" value="生成角色操作菜单" class="btn btn-primary" onClick="return confirm('确定重新生成角色操作菜单吗?');"/>&nbsp;
                                    {/if}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                            <!--主页排版-->
                            {if empty($user) || ($user && $menu_opss && @in_array('updatedata_xqsort', $menu_opss))}
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    {if ($user && $menu_opss && @in_array('updatedata_xqsort', $menu_opss)) || empty($user)}
                                    <input name="update_xqsort" type="submit" value="主页排版重置" class="btn btn-primary" onClick="return confirm('确定重置主页排版后，需要进入每个公众号页面，点击主页排版开启后保存吗?');"/>&nbsp;&nbsp;
                                    {/if}
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                        </div>
                        <input type="hidden" name="token" value="{$_W['token']}" />
                        {elseif $op == 'sql'}
                        <!--<h5>v8.0版升级v9.0版数据转化(新安装的请勿操作)</h5>-->
                        <div class="ibox-content">
                            <!--<p style="color: red">修复数据主要用于v8升级到v9的时候数据异常，会先清空数据后，重新转化v8数据。可能会一些问题，例如已经发布新的幻灯的话，那就需要重新勾选，已经配置的配置需要重新配置。此操作适合第一次升级的数据出错执行。已经增加新数据不建议执行.一段时间过渡后，会删除此操作。</p>-->
                            <p style="color: blue">修复字段：会修复数据表缺失，数据字段缺失。不影响数据。</p>
                            <!--<p style="color: blue">修复数据：处理升级中需要变更的数据。</p>-->
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    {if ($user && $menu_opss && @in_array('updatedata_field', $menu_opss)) || empty($user)}
                                    <input name="update_field" type="submit" value="修复字段" class="btn btn-warning" />
                                    {/if}
                                    {if $_W['uid'] == 1}
                                    <!--<input name="update_data" type="submit" value="修复数据" class="btn btn-primary" onClick="return confirm('确定修复数据吗?');"/>&nbsp;&nbsp;-->
                                    {/if}
                                    <!--<input name="update_appmenu" type="submit" value="生成手机端管理系统菜单" class="btn btn-primary" onClick="return confirm('确定重新生成手机端管理系统菜单吗?');"/>&nbsp;&nbsp;-->
                                    <input type="hidden" name="token" value="{$_W['token']}" />
                                </div>
                            </div>
                        </div>
                        {elseif $op == 'menu'}
                        <div class="ibox-content">
                            <p style="color: red">后台菜单菜单重置，清空后台菜单，重新生成，此操作会影响设置的权限权限。此操作要谨慎执行。</p>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
                                    {if $_W['uid'] == 1}
                                    <input name="update_menu" type="submit" value="后台菜单重置" class="btn btn-primary" onClick="return confirm('确定重置后台菜单吗?');"/>&nbsp;&nbsp;
                                    {/if}
                                    <!--<input name="update_nav" type="submit" value="前台菜单重置" class="btn btn-primary" onClick="return confirm('确定重置前台菜单后，需要进入每个公众号页面，页面管理点击首页导航，重新生成菜单吗?');"/>-->
                                    <!--<input name="update_xqappmenu" type="submit" value="手机端管理菜单重置" class="btn btn-primary" onClick="return confirm('确定重置移动端管理菜单后，需要进入每个公众号页面数据维护，点击数据维护中的生成手机端管理菜单，重新生成菜单吗?');"/>&nbsp;&nbsp;-->
                                    <!--<input name="update_housenav" type="submit" value="住户中心菜单重置" class="btn btn-primary" onClick="return confirm('确定重置住户中心菜单后，需要进入每个公众号页面，页面管理点击住户中心重新生成住户菜单吗?');"/>-->
                                    <input type="hidden" name="token" value="{$_W['token']}" />
                                </div>
                            </div>
                        </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{template 'web/common/footer'}