{template 'web/common/header-base'}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>微信统计</h5>
                </div>
                <div class="ibox-content">
        <form action="./index.php" method="get" class="form-horizontal" role="form">
            <input type="hidden" name="c" value="site"/>
            <input type="hidden" name="a" value="entry"/>
            <input type="hidden" name="m" value="{php echo $this->module['name']}"/>
            <input type="hidden" name="do" value="data"/>
            <input type="hidden" name="op" value="wechat"/>

            <div class="form-group">
                <label for="" class="col-sm-1 control-label">小区:</label>
                <div class="col-sm-3">
                    <select name="regionid" class="form-control">
                        <option value="">全部</option>
                        {loop $regions $region}
                        <option value="{$region['id']}" {if $region['id']==$_GPC['regionid']}selected{/if}>{$region['city']}{$region['dist']}{$region['title']}</option>
                        {/loop}
                    </select>
                </div>

                <button class="btn btn-primary ">查询</button>
                <input type="hidden" name="token" value="{$_W['token']}"/>
            </div>
        </form>
    <div class="panel-body">
        <div class="clearfix" id="clear" style="margin-left: 50px;">
            <div class="panel-default" style="padding:1em;border-radius: 0px;">
                <div class="row m-t-20">

                    <div class="col-sm-12" id="member-2" style="height: 500px;" >

                    </div>
                </div>
            </div>
        </div>
    </div>
                </div></div></div></div></div>
</body>



<script type="text/javascript">

    var myChart2 = echarts.init(document.getElementById('member-2'), 'macarons');
    var label = {php echo json_encode($day)};
    var datasets1 =  {php echo json_encode($hit1)};
    var datasets3 =  {php echo json_encode($hit3)};

    option2 = {
        title : {
            text: '最近7天微信数据统计',
            subtext: ''
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['公告微信通知','缴费微信通知']
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : label
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'公告微信通知',
                type:'line',
                data:datasets1,
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            },
            {
                name:'缴费微信通知',
                type:'line',
                data:datasets3,
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            }
        ]
    };

    myChart2.setOption(option2);
    setTimeout(function () {
        window.onresize = function () {
            myChart2.resize();
        }
    }, 200)

</script>



