{template 'web/common/header-base'}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>信息管理</h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh" href="{php echo $this->createWebUrl('article')}"></a></h5>
                </div>
                <div class="ibox-content">
                    <form action="./index.php" method="get" class="form-horizontal" role="form">
                        <input type="hidden" name="c" value="site"/>
                        <input type="hidden" name="a" value="entry"/>
                        <input type="hidden" name="m" value="{php echo $this->module['name']}"/>
                        <input type="hidden" name="do" value="article"/>
                        <input type="hidden" name="op" value="list"/>
                        <div class="row">
                            <div class="col-sm-6 m-b-xs">
                                <a href="{php echo $this->createWebUrl('article',array('op' => 'list','p' => 'add'))}" class="btn btn-primary"><i class="fa fa-plus"></i>发布信息</a>
                            </div>
                            <div class="col-sm-2 m-b-xs">
                                {php echo tpl_form_field_daterange('createtime', $createtime),$time = false}
                            </div>
                            <div class="col-sm-4 m-b-xs">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="keyword" placeholder="可查询推送标题">
                                    <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">搜索</button>
                                <input type="hidden" name="token" value="{$_W['token']}" />
                            </span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <table class="table table-bordered table-striped">
                        <thead class="navbar-inner">
                        <tr>
                            <th style="width: 60px">id</th>
                            <th>标题</th>
                            <th>图片</th>
                            <th>添加日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $list $index $item}
                        <tr>
                            <td>
                                {$item['id']}
                            </td>
                            <td>
                                {$item['title']}
                            </td>
                            <td>
                                <img src="{php echo tomedia($item['pic'])}" style="width: 60px;height: 60px">
                            </td>
                            <td>
                                {php echo date('Y-m-d H:i:s',$item['createtime'])}
                            </td>
                            <td>
                                <a href="{php echo $this->createWebUrl('article',array('op' => 'list','p' => 'add','id' => $item['id']))}" title="编辑" class="btn btn-primary btn-sm">编辑</a>
                                <a onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWebUrl('article',array('op' => 'list','p' => 'delete','id' => $item['id']))}" title="" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-sm" data-original-title="删除">删除</a>
                            </td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>

                    <table class="footable table table-stripped toggle-arrow-tiny footable-loaded tablet breakpoint">
                        <thead>
                        {if $list}
                        <tr>
                            <td class="footable-visible"><ul class="pagination pull-right">{$pager}</ul></td>
                        </tr>
                        {else}
                        <tr style="text-align: center"><td >没有找到对应的记录</td></tr>
                        {/if}
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
