{template 'web/common/header-base'}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>临时车缴费记录</h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh" href="{php echo $this->createWebUrl('zhpark',array('op' => 'temp'))}"></a></h5>
                </div>
                <div class="ibox-content">
                    <form action="./index.php" method="get" class="form-horizontal" role="form">
                        <input type="hidden" name="c" value="site" />
                        <input type="hidden" name="a" value="entry" />
                        <input type="hidden" name="m" value="{php echo $this->module['name']}" />
                        <input type="hidden" name="do" value="zhpark" />
                        <input type="hidden" name="op" value="temp" />
                        <div class="row">
                            <div class="col-sm-2 m-b-xs">
                                {php echo tpl_form_field_daterange('birth', array('starttime' => date('Y-m-d',empty($starttime) ? TIMESTAMP : $starttime),'endtime' => date('Y-m-d',empty($endtime) ? TIMESTAMP : $endtime)));}

                            </div>
                            <div class="col-sm-10 m-b-xs">
                                <div class="input-group">
                                    <div class="col-sm-4 m-b-xs">
                                    <select class="form-control" name="park_id">
                                        <!--<option>全部停车场</option>-->
                                        {loop $parks $park}
                                        <option value="{$park['id']}" {if $park['id']==$_GPC['park_id']} selected{/if}>{$park['park_name']}</option>
                                        {/loop}
                                    </select>
                                    </div>
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"> 搜索</button>
                                        <button type="submit" name="cloud" class="btn btn-primary" value="同步缴费记录"> 同步缴费记录</button>
                            <!--<a class="btn btn-primary" href="{php echo $this->createWebUrl('zhpark',array('op' => 'temp','p' => 'cloud'))}"> 同步临时车</a>-->
                            <input type="hidden" name="token" value="{$_W['token']}"/>
                                </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="" class="form-horizontal form" method="post" enctype="multipart/form-data">
                        <table class="table table-bordered">
                            <thead class="navbar-inner">
                            <tr>
                                <th style="width:30px;">ID</th>
                                <th>停车场名称</th>
                                <th>车牌号</th>
                                <th>车主</th>
                                <th>入场时间</th>
                                <th>出场时间</th>
                                <th>应收金额</th>
                                <th>实收现金</th>
                                <th>手机支付</th>
                                <th>免费金额</th>
                                <th>收费员</th>
                                <th>收费时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {loop $list $item}
                            <tr>
                                <td>{$item['id']}</td>
                                <td>{$item['park_name']}</td>
                                <td>{$item['car_no']}</td>
                                <td>{$item['car_owner']}</td>
                                <td>{php echo date('Y-m-d H:i:s',$item['in_time']);}</td>
                                <td>{php echo date('Y-m-d H:i:s',$item['out_time']);}</td>
                                <td>{$item['should_charge']}元</td>
                                <td>{$item['charge_fee']}元</td>
                                <td>{$item['online_charge']}元</td>
                                <td>{$item['free_charge']}元</td>
                                <td>{$item['charged_by']}元</td>
                                <td>{php echo date('Y-m-d H:i:s',$item['toll_date']);}</td>
                            </tr>
                            {/loop}
                            </tbody>
                        </table>
                        <table class="footable table table-stripped toggle-arrow-tiny footable-loaded tablet breakpoint">
                            <thead>
                            {if $list}
                            <tr>
                                <td class="footable-visible"><ul class="pagination pull-right">{$pager}</ul></td>
                            </tr>
                            {else}
                            <tr style="text-align: center"><td >没有找到对应的记录</td></tr>
                            {/if}
                            </thead>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{template 'web/common/footer'}