{template 'app2/header'}
<style>
    body{
        background: #F6F6F6;
    }
    .weui-cells:first-child{
        margin-top: 0;
    }
    .weui-cells{
        font-size: 0.9em;
    }
    .weui-textarea{
        min-height: 100px;
    }
    .weui-cells {
        margin-top: 0;
        background-color: #fff;
        line-height: 1.41176471;
        font-size: 14px;
        overflow: hidden;
        position: relative;
    }
</style>
<style>[v-cloak] { display: none !important; }</style>
<div id="app" v-cloak>
    <div class="defalut-header">
        <div class="defalut-header-left"  @click="goBack()">
            <a class="defalut-header-back"></a>
            <div class="left-arrow">
            </div>
        </div>
        <h1 class="defalut-header-tit">
            <span>发布公告</span>
        </h1>
    </div>
    <div class="weui-cells header-padd">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="公告标题" id="title" v-model="item.title">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="输入公告内容..." rows="3" id="reason" v-model="item.reason"></textarea>
                <div class="weui-uploader">
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles" v-if="morepic">
                            <!--多图-->
                            <!--<li class="weui-uploader__file" :style="'background-image:url('+thumb+')'" v-for="(thumb, index) in morepic"></li>-->

                            <li class="weui-uploader__file" :style="'background-image:url('+morepic+')'" ></li>
                        </ul>
                        <div class="weui-uploader__input-box" id="addPic">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd"><label for="village" class="weui-label">选择小区</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="village" type="text" readonly="" v-model="item.region" :data-values="item.regionids">
            </div>
            <div class="weui-cell__ft">
            </div>
        </a>
    </div>
    <div style="margin: 20px 20px" id="submit">
        <a href="javascript:;" class="weui-btn weui-btn_primary" @click="postdata()">提交</a>
    </div>
</div>

<script>
    // jssdk config 对象
    jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} ||{};
    // 是否启用调试
    jssdkconfig.debug = false;
    jssdkconfig.jsApiList = [
        'openLocation',
        'getLocation',
        'chooseImage',
        'uploadImage',
    ];
    // ID数组
    var localIds = null;
    // 上传序号
    var idx = 0;
    var serverIds = '';
    wx.config(jssdkconfig);
</script>

<script>
    var id = "{$_GPC['id']}"
    var app = new Vue({
        el: '#app',
        data: {
            item:{
                title:'',
                reason:''
            },
            id:id,
            regionids:[],
            morepic: '' //多图定义
        },
        beforeMount: function () {
            var self = this
            console.log(self.item)
            var url = "{php echo wxapp_url('appannouncement/detail')}";
            var data = {
                id:id
            }
            $.getJSON(url,data, function (ret) {
                self.item = ret.data
                self.morepic = self.item.pic
            })
            var url = "{php echo wxapp_url('appregion/list')}";
            $.getJSON(url, function (ret) {
                self.regions = ret.data

            })
        },
        mounted: function () {
            var that = this
            wx.ready(function () {
                $("#addPic").click(function () {
                    wx.chooseImage({
                        count: 9, // 默认9
                        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                        sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                        success: function (res) {
                            var localIds = res.localIds;
                            //调用上传递归函数
                            that.wxUploadImg(localIds);
                        }
                    })
                });
            });
        },
        methods: {
            goBack: function () {
                javascript :history.back(-1)
            },
            postdata: function () {
                var self = this
                console.log(self.item)
                var url = "{php echo wxapp_url('appannouncement/add')}";
                self.item.id=self.id
                self.item.regionid = $("#village").data('values')
                self.item.morepic = self.morepic
                if(self.item.title == '' || self.item.reason == ''){
                    $.toast('有未填写的信息','cancel');return false;
                }
                $.showLoading('正在提交');
                $.post(url,self.item,function (ret) {
                    $.hideLoading();
                    if(ret.err_code ==0){
                        //提交成功提示内容: data.data.content
                        setTimeout(function () {
                            $.toast('添加成功');
                            //定时刷新
                            window.location.href = "{php echo $this->createMobileUrl('xqsys',array('op'=>'announcement'))}";
                        }, 500);
                    }
                    if(ret.err_code == 2){
                        setTimeout(function () {
                            $.toast(ret.err_msg,'cancel');
                            //定时刷新
                            window.location.href = "{php echo $this->createMobileUrl('xqsys',array('op'=>'home'))}";
                        }, 500);
                    }
                },'json')
            },
            wxUploadImg:function (localIds) {
                var localId = localIds[idx]
                var that = this
                wx.uploadImage({//获取图片媒体ID
                    localId: localId,  // 需要上传的图片的本地ID
                    isShowProgressTips: 1, // 默认为1，显示进度提示
                    success: function (res) {//获取成功
                        var serverId = res.serverId; // 返回图片的服务器端ID
                        that.getImg(serverId);
                        idx++ // 上传序号，上传一张 累计 +1
                        // serverIds+=res.serverId+','; //存储图片媒体ID，用，号分割
                        //本地图片ID 还没全部获取完图片媒体ID
                        if (idx < localIds.length) {
                            that.wxUploadImg(localIds); //调用上传递归函数
                        }
                        else {
                            idx = 0;
                            serverIds = '';
                            return true;
                        }
                    },
                    fail: function (res) {//获取多媒体id失败 返回错误代码
                        alert("上传失败，msg：" + JSON.stringify(res));
                    }
                });
            },
            getImg: function (serverId) {
                var that = this
                var url = "{php echo wxapp_url('getImg')}"
                $.getJSON(url, {serverId: serverId}, function (ret) {
                    var imgUrl = ret.data.imgUrl
                    that.morepic = imgUrl
                })
            }
        }
    })

</script>
<script>

    $.post("{php echo wxapp_url('appregion/list')}", function (data) {
        var json = new Array();
        json = data.data;
        $("#village").select({
            title: "选择小区",
            multi: true,
            items:json,
            beforeClose: function(values, titles) {
                if(values.indexOf("1") !== -1) {
                }
            },
            onChange: function(d) {
                console.log(this, d);
            },
            onClose: function (d) {
                console.log('close')
            }
        });

    }, 'json')

</script>
{template 'app2/footer'}