{template 'app/header'}
<div class="page">
    <header class="bar bar-nav">
        <a class="icon icon-left pull-left open-panel" onclick="javascript:history.back(-1);"></a>
        <h1 class="title">住户列表</h1>
    </header>
    <div class="content">
        <div class="list-block media-list" style="margin: 0 0 60px 0">
            <ul>
                {loop $list $item}
                <li onclick="window.location.href='{php echo $this->createMobileUrl('xqsys',array('op' => 'member_detail','id'=> $item['id']))}'">
                    <a href="#" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">姓名:{$item['realname']}</div>
                                <div class="item-after">{php echo date('Y-m-d H:i',$item['createtime'])}</div>
                            </div>
                            <div class="item-subtitle">电话:{$item['mobile']}</div>
                            <div class="item-text">
                                地址:{$item['title']}
                                {loop $item['bind'] $bind}
                                <div class="rowspan">{$bind['address']}</div>
                                {/loop}
                            </div>
                        </div>
                    </a>
                </li>
                {/loop}
            </ul>
            {$pager}
        </div>
    </div>
</div>
<script>

</script>
{template 'app/footer'}