{template 'app/header'}
<div class="page">
    <header class="bar bar-nav">
        <a class="icon icon-left pull-left open-panel" onclick="javascript:history.back(-1);"></a>
        <h1 class="title">门禁列表
            <a class="button button-link button-nav pull-right open-popup" onclick="window.location.href='{php echo $this->createMobileUrl('xqsys',array('op' => 'add_guard'))}'">
                发布
                <span class="icon icon-edit"></span>
            </a></h1>
    </header>
    <div class="content">
        <div class="list-block media-list" style="margin: 0 0 60px 0">
            <ul>
                {loop $list $item}
                <li>
                    <a href="#" class="item-link item-content" onclick="window.location.href='{php echo $this->createMobileUrl('xqsys',array('op' => 'add_guard','id'=> $item['id']))}'">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">{$item['xqtitle']}{$item['title']}{if $item['unit']}{$item['unit']}{/if}</div>
                                <!--<div class="item-after">设备编号:{$item['device_code']}</div>-->
                            </div>
                        </div>
                    </a>
                </li>
                {/loop}
            </ul>
            {$pager}
        </div>
    </div>
</div>
<script>

</script>
{template 'app/footer'}