{template 'app/header'}
<div class="page">
    <header class="bar bar-nav">
        <a class="icon icon-left pull-left open-panel" onclick="javascript:history.back(-1);"></a>
        <h1 class="title">费用管理</h1>
    </header>
    <div class="content">
        <div class="list-block media-list" style="margin: 0 0 60px 0">
            <ul>
                {loop $list $item}
                <li>
                    <a href="#" class="item-link item-content" onclick="window.location.href='{php echo $this->createMobileUrl('xqsys',array('op' => 'cost_order','id' => $item['id']))}'"  >
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">{$item['title']}</div>
                                <div class="item-after">{php echo date('Y-m-d',$item['createtime'])}</div>
                            </div>
                            <div class="item-subtitle">费用时间:{$item['costtime']}</div>
                        </div>
                    </a>
                </li>
                {/loop}
            </ul>
            {$pager}
        </div>
    </div>
</div>


{template 'app/footer'}