{template 'app/header'}
<div class="page">
    <header class="bar bar-nav">
        <a class="icon icon-left pull-left open-panel" onclick="javascript:history.back(-1);"></a>
        <h1 class="title">通知详情</h1>
    </header>
    <div class="content">
        <div class="list-block" style="margin: 0">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                {$detail['reason']}
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

{template 'app/footer'}