{template 'web/common/header-base'}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>参数配置</h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh" href="{php echo $this->createWebUrl('charging',array('op' => 'set'))}"></a></h5>
                </div>
                <div class="ibox-content">
                    <form action="" method="post" class="form-horizontal form">
                        <div class="form-group">
                            <label for="AppId" class="col-sm-2 control-label">AppId</label>
                            <div class="col-sm-10">
                                <input type="text" name="counter[p107]" id='AppId' class="form-control" value="{$set['p107']['value']}" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="AppSecret" class="col-sm-2 control-label">AppSecret</label>
                            <div class="col-sm-10">
                                <input type="text" name="counter[p108]" id='AppSecret' class="form-control" value="{$set['p108']['value']}" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-w-m btn-primary" name="submit" value="提交">提交</button>
                                <input type="hidden" name="token" value="{$_W['token']}"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{template 'web/common/footer'}
