{template 'web/common/header-base'}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><a class="glyphicon glyphicon-arrow-left" href="{php echo $this->createWebUrl('charging', array('op' => 'station'))}"></a>&nbsp;&nbsp;&nbsp;插头管理</h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh" href="{php echo $this->createWebUrl('charging',array('op' => 'socket','stationid' => $stationid))}"></a></h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead class="navbar-inner">
                        <tr>
                            <th style="width:5%;">id</th>
                            <th>插座</th>
                            <th>操作</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $list $item}
                        <tr>
                            <td>{$item['id']}</td>
                            <td>{php echo $item['lock']+1}座</td>
                            <td><span class="label label-success">{if $item['enable']==0}空置{elseif $item['enable']==1}充电中{/if}</span></td>
                            <td>
                                <a href="{php echo $this->createWebUrl('charging',array('op' => 'qr','id' => $item['id']))}" title="生成二维码" class="btn btn-primary btn-sm">生成二维码</a>
                            </td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{template 'web/common/footer'}