
.defalut-header {
    position: fixed;
    top: 0;
    padding: 3px 0;
    box-sizing: border-box;
    background-color: #ff9800;
    width: 100%;
    z-index:100;
}

.defalut-header-left {
    position: absolute;
    top: 14px;
    display: block;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    left: 18px;
}

.defalut-header-back {
    float: left;
    margin-right: 8px;
    color: #fff;
    padding-left: 16px;
}

.left-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -5px;
    left: -5px;
}

.left-arrow:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-width: 1px 0 0 1px;
    transform: rotate(315deg);
    top: 8px;
    left: 7px;
}

.defalut-header-tit {
    margin: 0 88px;
    height: 40px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.defalut-header-tit span {
    display: inline-block;
}

.header-padd {
    padding-top: 46px
}