<!--{template 'web/common/header-base'}-->

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>设备管理</h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh"
                                                href="{php echo $this->createWebUrl('guard')}"></a></h5>
                </div>
                <div class="ibox-content">
                    <form action="./index.php" method="get" class="form-horizontal" role="form">
                        <input type="hidden" name="c" value="site"/>
                        <input type="hidden" name="a" value="entry"/>
                        <input type="hidden" name="m" value="{php echo $this->module['name']}"/>
                        <input type="hidden" name="do" value="guard"/>
                        <div class="row">
                            <div class="col-sm-6 m-b-xs">
                                <a class="btn  btn-primary"
                                   href="{php echo $this->createWebUrl('guard', array('op' => 'add','regionid' => $regionid));}"><i
                                        class="fa fa-plus"></i> 添加设备</a>
                            </div>
                            <div class="col-sm-6 m-b-xs">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="keyword" placeholder="输入设备编号">
                                    <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">搜索</button>
                             <input type="hidden" name="token" value="{$_W['token']}"/>
                        </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="" method="post">
                        <table class="table table-bordered table-condensed">
                            <thead class="navbar-inner">
                            <tr>
                                <th style="width:6%">排序</th>
                                <th>小区名称</th>
                                <th class="col-md-1">区域</th>
                                <th class='col-md-1'>楼宇名称</th>
                                <th class='col-md-1'>单元号</th>
                                <th class='col-md-1'>设备编号</th>
                                <th class='col-md-1'>卡状态</th>
                                <th class='col-md-1'>设备状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {loop $list $item}
                            <tr>
                                <td><input type="text" class="form-control" name="displayorder[{$item['id']}]"
                                           value="{$item['displayorder']}"/></td>
                                <td>{$item['rtitle']}</td>
                                <td>{if $item['type'] == 1}单元门{else}大门{/if}</td>
                                <td>{$item['title']}</td>
                                <td>{if $item['unit']}{$item['unit']}{else}空{/if}</td>
                                <td>{$item['device_code']}</td>
                                <td><span class="label label-success">{$item['status']}</span></td>
                                <td><span class="label label-primary">{$item['doorstatus']}</span></td>
                                <td>
                                    <a href="{php echo $this->createWebUrl('guard',array('op' => 'add','id' => $item['id'],'regionid' => $regionid))}"
                                       title="编辑" class="btn btn-primary btn-sm">编辑</a>
                                    <a href="{php echo $this->createWebUrl('guard',array('op' => 'qrcreate','id' => $item['id']))}"
                                       title="生成二维码" data-toggle="tooltip" data-placement="top"
                                       class="btn btn-info btn-sm" data-original-title="生成二维码">生成二维码</a>
                                    <a href="{php echo $this->createMobileUrl('lock',array('id' => $item['id']))}"
                                       title="查看开锁连接" data-toggle="tooltip" data-placement="top"
                                       class="btn btn-warning btn-sm" data-original-title="查看开锁连接">

                                        查看开锁连接
                                    </a>

                                    <!--<button class="copybtn" data-clipboard-target="#t_{$item['id']}">复制</button>-->
                                    <!--<input type="hidden" value="{php echo $this->createMobileUrl('lock',array('id' => $item['id']))}" id="t_{$item['id']}">-->


                                    <a href="{php echo $this->createWebUrl('guard',array('op' => 'delete','id' => $item['id'],'regionid' => $regionid))}"
                                       title="删除" data-toggle="tooltip" data-placement="top"
                                       class="btn btn-default btn-sm" data-original-title="删除">删除</a>
                                </td>
                            </tr>
                            {/loop}
                            <tr>
                                <td></td>
                                <td colspan="8">
                                    <input name="submit" type="submit" class="btn btn-sm btn-primary" value="提交">
                                    <input type="hidden" name="token" value="{$_W['token']}"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <table class="footable table table-stripped toggle-arrow-tiny footable-loaded tablet breakpoint">
                        <thead>
                        {if $list}
                        <tr>
                            <td class="footable-visible">
                                <ul class="pagination pull-right">{$pager}</ul>
                            </td>
                        </tr>
                        {else}
                        <tr style="text-align: center">
                            <td>没有找到对应的记录</td>
                        </tr>
                        {/if}
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


