{template 'web/common/header-base'}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>统一小区设置</h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh" href="{php echo $this->createWebUrl('set',array('op' => 'xqset'))}"></a></h5>
                </div>
                <div class="ibox-content">
<form action="" method="post" class="form-horizontal form">
            <table class="table table-hover" ng-controller="advAPI" style="width:100%;" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th class="col-sm-2">小区设置</th>
                    <th class="col-sm-3">说明</td>
                    <th class="col-sm-4"></th>
                    <th class="col-sm-3">是否启用</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="title">人工审核</td>
                    <td>开启住户审核后，用户绑定需要管理人员审核方可使用物业相关功能，默认不开启审核</td>
                    <td>

                    </td>
                    <td>
                        <div>
                            <input type="checkbox" id="p18" class="js-switch_1" {if $set['p18']['value']}checked{/if}/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="title">手机号验证</td>
                    <td>开启手机号验证后，移动端粉丝注册的时候，通过输入手机号码后，进行验证手机号是否已导入系统，建议配合短信验证码来验证当前录入的手机号业主是否为真正的业主</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p19" class="js-switch_2" {if $set['p19']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">楼宇信息验证</td>
                    <td>开启楼宇信息验证，会和预先后台生成的楼宇，区域，房屋进行验证是否存在</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p89" class="js-switch_18" {if $set['p89']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">楼宇联动选择</td>
                    <td>开启楼宇联动选择，会根据预先后台录入的楼宇，单元，房号信息，业主进行选择绑定</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p91" class="js-switch_19" {if $set['p91']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">注册码验证</td>
                    <td>开启发放的注册码来给业主完成注册，减少业主需要输入的资料。如同时开启手机号验证，将同时验证手机号和注册码是否在系统中同时存在</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p20" class="js-switch_3" {if $set['p20']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">游客浏览</td>
                    <td>开启游客浏览权限后，粉丝可直接进入小区主页，无需注册，需到菜单设置中设置每个菜单权限。</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p22" class="js-switch_4" {if $set['p22']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">房屋托管</td>
                    <td>
                        开启房屋托管后，移动端粉丝发布的手机号码不在显示，会显示托管电话
                    </td>
                    <td>
                        <input type="text" name="set[p23]" value="{$tel}" class="form-control" placeholder="输入托管电话"/>
                    </td>
                    <td>
                        <input type="checkbox" id="p21" class="js-switch_5" {if $set['p21']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">报修审核</td>
                    <td>开启报修审核后，粉丝发布的报修，需要后台审核后，才可显示</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p24" class="js-switch_6" {if $set['p24']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">建议审核</td>
                    <td>开启建议审核后，粉丝发布的建议，需要后台审核后，才可显示</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p25" class="js-switch_7" {if $set['p25']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">集市审核</td>
                    <td>开启集市审核后，粉丝发布的集市，需要后台审核后，才可显示</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p27" class="js-switch_8" {if $set['p27']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">租赁审核</td>
                    <td>开启租赁审核后，粉丝发布的房屋租赁，需要后台审核后，才可显示</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p28" class="js-switch_9" {if $set['p28']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">拼车审核</td>
                    <td>开启拼车审核后，粉丝发布的拼车信息，需要后台审核后，才可显示</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p29" class="js-switch_10" {if $set['p29']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">报修手机端抢单</td>
                    <td>
                        开启抢单模式，手机端报修接收人将启用抢单，第一个点击，就是抢单成功。
                    </td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" name="" id="p75" class="js-switch_11" {if $set['p75']['value']}checked{/if}/>

                    </td>
                </tr>
                <tr>
                    <td class="title">建议手机端抢单</td>
                    <td>
                        开启抢单模式，手机端建议接收人将启用抢单，第一个点击，就是抢单成功。
                    </td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" name="" id="p76" class="js-switch_12" {if $set['p76']['value']}checked{/if}/>

                    </td>
                </tr>
                <tr>
                    <td class="title">报修全部显示</td>
                    <td>开启报修全部显示后，粉丝发布的报修信息在微信端就在当前小区全部显示</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p30" class="js-switch_13" {if $set['p30']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">建议全部显示</td>
                    <td>开启建议全部显示后，粉丝发布的建议信息在微信端就在当前小区全部显示</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p31" class="js-switch_14" {if $set['p31']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">微信开门</td>
                    <td>
                        开启的话，业主注册默认就有微信开门权限
                    </td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p32" class="js-switch_15" {if $set['p32']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">授权验证开门</td>
                    <td>
                        默认微信开门采用的业主注册的楼栋单元匹配，进行开门。开启授权验证开门后，需要先在后台设置业主授权开门
                    </td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p33" class="js-switch_16" {if $set['p33']['value']}checked{/if}/>
                    </td>
                </tr>
                <tr>
                    <td class="title">微信开门关联物业费</td>
                    <td>此设置与微信开门硬件有关，开启此设置后，会关联业主的物业费</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p34" class="js-switch_17" {if $set['p34']['value']}checked='checked'{/if} />
                    </td>
                </tr>
                <tr>
                    <td class="title">新增小区默认勾选</td>
                    <td>新增小区时公告、幻灯、魔方、广告会默认勾选该小区，开启时新增小区不会在该小区显示</td>
                    <td>

                    </td>
                    <td>
                        <input type="checkbox" id="p106" class="js-switch_20" {if $set['p106']['value']}checked='checked'{/if} />
                    </td>
                </tr>
                </tbody>
            </table>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label"></label>
        <div class="col-sm-5">
            <button type="submit" class="btn btn-w-m btn-primary" name="submit" value="提交">提交</button>
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        $(':checkbox').on('change', function (e, state) {
            $this = $(this);
            var xqkey = $this.attr('id');
            var status = this.checked ? 1 : 0;
            $this.val(status);
            var regionid = '{$regionid}';
            $.post("{php echo $this->createWebUrl('updatekey')}",{xqkey:xqkey,status:status,regionid:regionid},function () {

            })
        });
        $('.btn').hover(function () {
            $(this).tooltip('show');
        }, function () {
            $(this).tooltip('hide');
        });
    });

</script>
