{template 'app2/header'}

<style>
    body{
        background: #F6F6F6;
    }
    .weui-cells:first-child{
        margin-top: 0;
    }
    .weui-cells{
        font-size: 0.9em;
    }
    .weui-textarea{
        min-height: 100px;
    }
    .weui-cells {
        margin-top: 0;
        background-color: #fff;
        line-height: 1.41176471;
        font-size: 14px;
        overflow: hidden;
        position: relative;
    }
</style>

<body ontouchstart>
<style>[v-cloak] { display: none !important; }</style>
<div id="app" v-cloak>
    <div class="defalut-header">
        <div class="defalut-header-left"  @click="goBack()">
            <a class="defalut-header-back"></a>
            <div class="left-arrow">
            </div>
        </div>
        <h1 class="defalut-header-tit">
            <span>{{item.title}}</span>
        </h1>
    </div>
    <div class="weui-cells header-padd">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">拼车标题</label></div>
            <div class="weui-cell__bd">
                {{item.title}}
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">联&nbsp;&nbsp;系&nbsp;&nbsp;人</label></div>
            <div class="weui-cell__bd">
                {{item.realname}}
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
            <div class="weui-cell__bd">
                {{item.mobile}}
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">所属小区</label></div>
            <div class="weui-cell__bd">
                {{item.regionname}}
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">拼车身份</label></div>
            <div class="weui-cell__bd" v-if="item.type==1">司机</div>
            <div class="weui-cell__bd" v-if="item.type==2">乘客</div>
            <div class="weui-cell__ft">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">出发地点</label></div>
            <div class="weui-cell__bd">
                {{item.start_position}}
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">目&nbsp;&nbsp;的&nbsp;&nbsp;地</label></div>
            <div class="weui-cell__bd">
                {{item.end_position}}
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">出发时间</label></div>
            <div class="weui-cell__bd">
                {{item.gotime}}
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">返回时间</label></div>
            <div class="weui-cell__bd">
                {{item.backtime}}
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label" v-if="item.type==1">剩余座位</label></div>
            <div class="weui-cell__hd"><label class="weui-label" v-if="item.type==2">需要座位</label></div>
            <div class="weui-cell__bd">
                {{item.seat}}
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">拼车价格</label></div>
            <div class="weui-cell__bd">
                {{item.sprice}}
            </div>
            <div class="weui-cell__ft">
            </div>
        </div>
    </div>
    <div style="margin: 20px 20px" >
        <a href="javascript:;" class="weui-btn weui-btn_primary" @click="toblack()" v-if="item.black == 0">加入黑名单</a>
        <a href="javascript:;" class="weui-btn weui-btn_primary" @click="toblack()" v-if="item.black == 1">解除屏蔽</a>
        <a href="javascript:;" class="weui-btn weui-btn_warn" @click="postdata()">删除</a>
    </div>
</div>
<script>
    var id = "{$_GPC['id']}"
    var app = new Vue({
        el: '#app',
        data: {
            item:{},
            id:id,
        },
        beforeMount: function () {
            var self = this
            var url = "{php echo wxapp_url('appcar/detail')}";
            var data = {
                id:id
            }
            $.getJSON(url,data, function (ret) {
                self.item = ret.data
            })
        },
        mounted: function () {

        },
        methods: {
            goBack: function () {
                javascript :history.back(-1)
            },
            postdata: function () {
                var self = this
                console.log(self.item)
                var url = "{php echo wxapp_url('appcar/del')}";
                self.item.id=self.id
                $.showLoading('正在提交');
                $.post(url,self.item,function (ret) {
                    $.hideLoading();
                    //提交成功提示内容: data.data.content
                    if(ret.err_code == 0){
                        setTimeout(function () {
                            $.toast('删除成功');
                            //定时刷新
                            window.location.href = "{php echo $this->createMobileUrl('xqsys',array('op'=>'carpool'))}";
                        }, 500);
                    }
                    if(ret.err_code == -1){
                        setTimeout(function () {
                            $.toast(ret.err_msg);
                            //定时刷新
                            window.location.href = "{php echo $this->createMobileUrl('xqsys',array('op'=>'carpool'))}";
                        }, 500);
                    }
                },'json')
            },
            toblack: function () {
                var self = this
                console.log(self.item)
                var url = "{php echo wxapp_url('appcar/toblack')}";
                self.item.id=self.id
                $.showLoading('正在提交');
                $.post(url,self.item,function (ret) {
                    $.hideLoading();
                    //提交成功提示内容: data.data.content
                    if(ret.err_code == 0){
                        setTimeout(function () {
                            $.toast('修改成功');
                            //定时刷新
                            window.location.href = "{php echo $this->createMobileUrl('xqsys',array('op'=>'carpool','p' => 'detail'))}&id="+self.item.id;
                        }, 500);
                    }
                    if(ret.err_code == -1){
                        setTimeout(function () {
                            $.toast(ret.err_msg);
                            //定时刷新
                            window.location.href = "{php echo $this->createMobileUrl('xqsys',array('op'=>'carpool'))}";
                        }, 500);
                    }
                },'json')
            },
            goUrl:function (id) {
                window.location.href="{php echo $this->createMobileUrl('xqsys',array('op'=>'carpool','p' => 'add'))}&id="+id;
            }
        }
    })

</script>
</body>
</html>