{template 'web/common/header-base'}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><a class="glyphicon glyphicon-arrow-left" href="{php echo $this->createWebUrl('room')}"></a>&nbsp;&nbsp;&nbsp;添加房号
                    </h5>
                    <h5 style="float: right"><a class="glyphicon glyphicon-refresh"
                                                href="{php echo $this->createWebUrl('room',array('op' => 'add','id' => $id))}"></a>
                    </h5>
                </div>
                <div class="ibox-content">
                    <form action="" class="form-horizontal form" method="post">
                        <input name="id" type="hidden" value="{$id}" class='form-control'/>
                        <input name="addressid" type="hidden" value="{$_GPC['addressid']}" class='form-control'/>
                        <input name="memberid" type="hidden" value="{$item['memberid']}" class='form-control'/>
                        <input name="uid" type="hidden" value="{$item['uid']}" class='form-control'/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">搜索</label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="words" id="words" placeholder="输入关键字">
                                    <span class="input-group-btn">
						<button type="button" class="btn btn-primary" id="search">搜索</button>
					</span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="regionid" class="col-sm-2 control-label">小区</label>
                            <div class="col-sm-5">
                                <select id="xqregionid" name="regionid" class='form-control'>
                                    <option value="0">选择小区</option>
                                    {loop $regions $region}
                                    <option value="{$region['id']}" {if $item['regionid']==$region['id']}selected='selected'{/if}>{$region['title']}</option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
                        {if empty($addressid)}
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="realname" class="col-sm-2 control-label">姓名</label>
                            <div class="col-xs-5">

                                <input type="text" name="realname" value="{$item['realname']}"
                                       class="form-control"
                                />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label">电话</label>
                            <div class="col-xs-5">

                                <input type="text" name="mobile" value="{$item['mobile']}"
                                       class="form-control"
                                />
                            </div>
                        </div>
                        {/if}
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="square" class="col-sm-2 control-label">面积</label>
                            <div class="col-xs-5">

                                <input type="text" name="square" value="{$item['square']}"
                                       class="form-control"
                                />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div id="content" {if $item['id']} style='display:block'{/if}>
                            {if $arr[a]}
                            <div class="form-group">
                                <label for="room" class="col-sm-2 control-label">{$arr[a1]}</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" name="area" class="form-control" value="{$item['area']}"/>
                                        <span class="input-group-addon">{$arr[a1]}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                            {if $arr[b]}
                            <div class="form-group">
                                <label for="room" class="col-sm-2 control-label">{$arr[b1]}</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" name="build" class="form-control" value="{$item['build']}"/>
                                        <span class="input-group-addon">{$arr[b1]}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                            {if $arr[c]}
                            <div class="form-group">
                                <label for="room" class="col-sm-2 control-label">{$arr[c1]}</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" name="unit" class="form-control" value="{$item['unit']}"/>
                                        <span class="input-group-addon">{$arr[c1]}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                            {if $arr[d]}
                            <div class="form-group">
                                <label for="room" class="col-sm-2 control-label">{$arr[d1]}</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" name="room" class="form-control" value="{$item['room']}"/>
                                        <span class="input-group-addon">{$arr[d1]}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {/if}
                        </div>
                        <div class="form-group">
                            <label for="room" class="col-sm-2 control-label">地址</label>
                            <div class="col-xs-5">

                                <input type="text" name="address" value="{if $item['address']}{$item['address']}{/if}"
                                       class="form-control"
                                />

                                <span style="color: red">修改区，栋，单元，室时，请同步修改地址</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input type="hidden" name="token" value="{$_W['token']}"/>
                                <button type="submit" class="btn btn-primary btn-w-m" name="submit" value="提交">提交
                                </button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#search').click(function () {
        var words = $('#words').val();
        $.post("{php echo $this->createWebUrl('region',array('op'=> 'search'))}",{words:words,p:'region'},function (data) {
            if (data.err_code == 0){
                $('#xqregionid').val(data.regionid);
                if (data.regionid != '0') {
                    $.post("{php echo $this->createWebUrl('room',array('op' => 'region'))}", {regionid: data.regionid}, function (data) {
                        var content = '';
                        if (data.a) {
                            content += "<div class=\"form-group\"><label for=\"room\" class=\"col-sm-2 control-label\">" + data.a1 + "</label><div class=\"col-xs-5\"><div class=\"input-group\"><input type=\"text\" name=\"area\" class=\"form-control\" /><span class=\"input-group-addon\">" + data.a1 + "</span></div> </div></div> <div class=\"hr-line-dashed\"></div>";

                        }
                        if (data.b) {
                            content += "<div class=\"form-group\"><label for=\"room\" class=\"col-sm-2 control-label\">" + data.b1 + "</label><div class=\"col-xs-5\"><div class=\"input-group\"><input type=\"text\" name=\"build\" class=\"form-control\" /><span class=\"input-group-addon\">" + data.b1 + "</span></div> </div></div> <div class=\"hr-line-dashed\"></div>";

                        }
                        if (data.c) {
                            content += "<div class=\"form-group\"><label for=\"room\" class=\"col-sm-2 control-label\">" + data.c1 + "</label><div class=\"col-xs-5\"><div class=\"input-group\"><input type=\"text\" name=\"unit\" class=\"form-control\" /><span class=\"input-group-addon\">" + data.c1 + "</span></div> </div></div> <div class=\"hr-line-dashed\"></div>";

                        }
                        if (data.d) {
                            content += "<div class=\"form-group\"><label for=\"room\" class=\"col-sm-2 control-label\">" + data.d1 + "</label><div class=\"col-xs-5\"><div class=\"input-group\"><input type=\"text\" name=\"room\" class=\"form-control\" /><span class=\"input-group-addon\">" + data.d1 + "</span></div> </div></div> <div class=\"hr-line-dashed\"></div>";

                        }
                        $("#content").html(content);


                    }, 'json');
                }
            }
        },'json')
    })
    $("#xqregionid").change(function () {
        var regionid = $("#xqregionid option:selected").val();
        if (regionid != '0') {
            $.post("{php echo $this->createWebUrl('room',array('op' => 'region'))}", {regionid: regionid}, function (data) {
                var content = '';
                if (data.a) {
                    content += "<div class=\"form-group\"><label for=\"room\" class=\"col-sm-2 control-label\">" + data.a1 + "</label><div class=\"col-xs-5\"><div class=\"input-group\"><input type=\"text\" name=\"area\" class=\"form-control\" /><span class=\"input-group-addon\">" + data.a1 + "</span></div> </div></div> <div class=\"hr-line-dashed\"></div>";

                }
                if (data.b) {
                    content += "<div class=\"form-group\"><label for=\"room\" class=\"col-sm-2 control-label\">" + data.b1 + "</label><div class=\"col-xs-5\"><div class=\"input-group\"><input type=\"text\" name=\"build\" class=\"form-control\" /><span class=\"input-group-addon\">" + data.b1 + "</span></div> </div></div> <div class=\"hr-line-dashed\"></div>";

                }
                if (data.c) {
                    content += "<div class=\"form-group\"><label for=\"room\" class=\"col-sm-2 control-label\">" + data.c1 + "</label><div class=\"col-xs-5\"><div class=\"input-group\"><input type=\"text\" name=\"unit\" class=\"form-control\" /><span class=\"input-group-addon\">" + data.c1 + "</span></div> </div></div> <div class=\"hr-line-dashed\"></div>";

                }
                if (data.d) {
                    content += "<div class=\"form-group\"><label for=\"room\" class=\"col-sm-2 control-label\">" + data.d1 + "</label><div class=\"col-xs-5\"><div class=\"input-group\"><input type=\"text\" name=\"room\" class=\"form-control\" /><span class=\"input-group-addon\">" + data.d1 + "</span></div> </div></div> <div class=\"hr-line-dashed\"></div>";

                }
                $("#content").html(content);


            }, 'json');
        }
    })

</script>
